#completedView{
    color: rgb(249, 3, 3);
    font-style: italic;
    font-weight: bolder;
}

#showBtn, #viewBtn, #nextBtn{
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    text-align: center;

}


#picButtons{
    justify-content: center;
    display: flex;
}