h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  /* font-size: 24px; */
  font-style:oblique;
  font-variant: normal;
  font-weight: 600;
  text-align: center;
  color: rgb(247, 246, 228);

}

#questionCard{
    border-style: groove;
    background-color: rgb(70, 21, 21);
    border-color: blanchedalmond;
    /* margin: 40px auto 80px; */
    padding: 20px;
    border-radius: 20px;
}