/* radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #eee;
  } */

  .radio-toolbar input[type="radio"] {
    display: none;
  }
  
  .radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
  }
  
  .radio-toolbar input[type="radio"]:checked+label {
    background-color: #bbb;
  }

  p, span{
    color: rgb(18, 13, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  #roundChoose{
    font-size: xx-large;
  }

  #startBtn{
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #ffffff;
    background-color: #28A745;
    font-weight: 700;
  }

  #group{
     background-color: #428bca;
     font-weight: 700;
     color: #ffffff;
  }

  #round{
         background-color: #d9534f;
     font-weight: 700;
     color: #ffffff;
  }