/* button{
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
} */

#clock{
    text-align: center;
}
.container{
    justify-content: start;
}

#clock{
    font-weight: bolder;
    font-size: 5rem;
    
}

#timer{
    align-content: center;
}