html, body {
    position: relative;
    width: 100%;
    /* background: #111; */
    /* overflow: hidden; */
    background-size: cover;
    background-position: center center;
 }
 
 html, body {
background:url(https://www.transparenttextures.com/patterns/arches.png) repeat, -moz-linear-gradient(top,  #f2a38b 0%, #4096ee 100%); /* FF3.6-15 */
background:url(https://www.transparenttextures.com/patterns/arches.png) repeat, linear-gradient(to bottom,  #f2a38b 0%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
height:100vh;

 }